@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Pro:ital,wght@0,400;0,600;1,400&family=JetBrains+Mono:wght@400;500&display=swap");

/* override to avoid fighting invisible browser default styles!*/
*, *::before, *::after {
  box-sizing: border-box; /* padding included within width */
  margin: 0;
  padding: 0;
}

/* dark theme variables (default) */
:root {
  --bg: #06060f;
  --text: #eaeaf4;
  --text-muted: rgba(234, 234, 244, 0.80);
  --text-dim: #6666a0;
  
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Crimson Pro", Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;

  --accent: #ff3d9a;
  --accent-rgb: 255, 61, 154;
  --accent2: #00e0ff;
  --accent2-rgb: 0, 224, 255;
  --accent-muted: rgba(255, 61, 155, 0.80);
  --accent2-muted: rgba(0, 224, 255, 0.80);

}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  overflow: hidden;
}
